{% extends "index.html" %}

{% block content %}
    <div class="error-container">
        <h1>404 - Page Not Found</h1>
        <p>This page could not be found.</p>
        <a href="/">Go back to Home</a>
    </div>
{% endblock content %}