{% extends "index.html" %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA17wG-jEaVAXjFLSuBJ5JgLL72Yf2yfzI"></script>
{% block content %}
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <div style="flex-shrink: 0; margin-left: 500px;">
            <ul>
                <p>
                    {% if data.user.avatar %}
                        <img src="{{ data.user.avatar.url }}" alt="{{ data.user.first_name }} photo" width="200">
                    {% else %}
                        No photo
                    {% endif %}
                </p>
            </ul>
        </div>
        <div style="flex-grow: 1; margin-right: 200px;">
            <ul>
                <p><strong>{{ data.user.first_name }} {{ data.user.last_name }}</strong></p>
                <p><strong>Gender:</strong> {{ data.get_gender_display }}</p>
                <p><strong>Phone Number:</strong> {{ data.user.phone_number }}</p>
                <p><strong>User Type:</strong> {{ data.get_user_type_display }}</p>
                <p><strong>City:</strong> {{ data.city_name }}</p>
                <p><strong>Latitude:</strong> {{ data.latitude }}</p>
                <p><strong>Longitude:</strong> {{ data.longitude }}</p>
                <p><strong>Instagram URL: </strong><a href="{{ data.instagram_url }}">{{ data.instagram_url }}</a></p>
            </ul>
        </div>
    </div>
    <div style="margin-top: 20px; text-align: center;">
        <div style="width: 60%; margin: 0 auto; background-color: #fffff0; height: 3px;"></div>
        <div id="map" style="height: 400px; width: 600px; margin: 20px auto;"></div>
    </div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{ data.latitude }}, lng: {{ data.longitude }}},
                zoom: 2
            });
            new google.maps.Marker({
                position: {lat: {{ data.latitude }}, lng: {{ data.longitude }}},
                map: map,
                title: '{{ data.name }}'
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA17wG-jEaVAXjFLSuBJ5JgLL72Yf2yfzI&callback=initMap"
            async defer></script>
{% endblock content %}