{% extends "index.html" %}
{% block content %}
    <div class="search-form mt-3">
        <form class="d-flex" method="get" action="{% url 'students:get_students' %}">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_text">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>


    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Grade</th>
            <th scope="col">Birth date</th>
            <th scope="col">Age</th>
            <th scope="col">Resume</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for student in students %}
            <tr>
                <td>
                    {% if student.avatar %}
                        <img src="{{ student.avatar.url }}" alt="{{ student.first_name }} Avatar" width="50">
                    {% else %}
                        No Avatar
                    {% endif %}
                </td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.grade }}</td>
                <td>{{ student.birth_date|default:"Unknown" }}</td>
                {% if student.birth_date %}
                    <td>{{ student.age }}</td>
                {% else %}
                    <td>Unknown age</td>
                {% endif %}
                <td>
                    {% if student.resume %}
                        <a type="button" class="btn btn-primary"
                           href="{{ student.resume.url }}" target="_blank">View Resume</a>
                    {% else %}
                        No Resume
                    {% endif %}
                </td>
                <th>
                    <a type="button" class="btn btn-warning"
                       href="{% url 'students:update_student' student.pk %}"
                    >Edit</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'students:delete_student' student.pk %}"
                    >Delete</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}