{% extends "index.html" %}

{% block content %}
    {% csrf_token %}
    <div>
        <p>Name: {{ group.name }}</p>
        <p>Number: {{ group.number }}</p>
        <p>Students_count: {{ group.students_count }}</p>
        <p>Start_date: {{ group.start_date }}</p>
        <p>Subject: {{ group.subject }}</p>
        <p>Description: {{ group.description }}</p>
    </div>
{% endblock content %}