{% extends "index.html" %}

{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Work experience</th>
            <th scope="col">English level</th>
            <th scope="col">Subject</th>
            <th scope="col">Groups</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <td>
                    {% if teacher.avatar %}
                        <img src="{{ teacher.avatar.url }}" alt="{{ teacher.first_name }} Avatar" width="50">
                    {% else %}
                        No Avatar
                    {% endif %}
                </td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.age|default:"Unknown age" }}</td>
                <td>{{ teacher.work_experience }}</td>
                <td>{{ teacher.english_level|default:"Unknown" }}</td>
                <td>{{ teacher.subject }}</td>
                <th>
                    {% for group in teacher.group.all %}
                        <p><a type="button" class="btn btn-info"
                              href="{% url 'teachers:group_details' group.pk %}"
                        >{{ group.name }}</a></p>
                    {% endfor %}
                </th>
                <th>
                    <a type="button" class="btn btn-warning"
                       href="{% url 'teachers:update_teacher' teacher.pk %}"
                    >Edit</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'teachers:delete_teacher' teacher.pk %}"
                    >Delete</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}