{% extends "index.html" %}

{% block content %}
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col">Students count</th>
            <th scope="col">Start date</th>
            <th scope="col">Subject</th>
            <th scope="col">Description</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <th scope="row">{{ group.pk }}</th>
                <td>{{ group.name }}</td>
                <td>{{ group.number }}</td>
                <td>{{ group.students_count }}</td>
                <td>{{ group.start_date|default:"Unknown" }}</td>
                <td>{{ group.subject }}</td>
                <td>{{ group.description|default:"Unknown" }}</td>
                <th>
                    <a type="button" class="btn btn-warning"
                       href="{% url 'groups:update_group' group.pk %}"
                    >Edit</a>
                </th>
                <th>
                    <a type="button" class="btn btn-danger"
                       href="{% url 'groups:delete_group' group.pk %}"
                    >Delete</a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}